*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header{
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

h1{
  color: gray;
  padding: 20px;
}

.blog{
  width: 840px;
  margin: 20px auto 50px auto;
ã€€

}


.blog-item{
  padding: 30px 0;
  border-bottom: 1px solid #686767;
 
}